@keyframes moveBackground {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}



body {
  text-align: center;
  background: linear-gradient(to right, #001F3F, #003366, #004488, #0055AA, #0066CC, #0077DD, #0088FF,#001F3F);
  background-size: 200% 100%; /* make it twice the viewport height */
  animation:moveBackground 7s  infinite;
  animation-direction: alternate;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
}
#player_score{
  font-family: 'Press Start 2P',cursive;
  color:white;
  font-size:2rem;
}

.container {
  display: block;
  width: 50%; /* sets the width 50% on the parent */
  margin: auto; /* centers the contents horizontally */

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid white;
  border-radius: 20%;
}

/* .game-over {
  background-color: #d20102 !important;
  opacity: 0.8 !important;
  animation: none !important;
} */

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
