body {
  background-color: #001f3f;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}
.image-div {
  height: 700px;
  width: 700px;
  margin-top: 100px;
  margin-left: 100px;
  background-image: url(/images/animated\ logo.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 60px;
  padding: 20px;
  margin-top: -360px;
  margin-bottom: 200px;
}
.image-form {
  position: absolute;
  top: 0;
  right: 7.3rem;
  width: 39.2rem;
  height: 150px;
  background-image: url(/images/getStartedNew.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 600px;
  padding: 10px;
  padding-top: 550px;
  border-radius: 20px;
  font-family: "Open Sans";
  margin-top: 45px;
  margin-bottom: -50px;
  width: 30.5rem;
  padding-left: 8rem;
}
.form input[type="text"],
.form input[type="password"] {
  width: 33.7rem;
  height: 2.3rem;
  padding: 10px;
  margin-left: -100px;
  margin-bottom: 50px;
  border-radius: 15px;
  font-size:1.1rem;
  background-color: white;
  color: blue;
  box-shadow: 1px 1px 1px black;
}


.form label {
  padding: 10px;
  margin-left: -110px;
  margin-bottom: 10px;
  color: #001f3f;
  font-size: 1.5rem;
}

.form a {
  /* margin-left: -100px; */
}
.link{
    margin-left: 300px;
}

.form button {
  text-align: center;
  padding: 10px 90px;
  background: linear-gradient(to right, red, orange, yellow);
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 50px;
}
.form button:hover {
  background-color: #008000;
}

.form-2 {
  margin-bottom: -115px;
}

.form-2 label {
  font-size: 24px;
  margin-bottom: -80px;
}

.form-2 input[type="text"],
.form-2 input[type="password"]{
  width: 33.5rem;
  height:3.5rem;
  padding: 10px;
  margin-left: -100px;
  margin-bottom: 10px;
  border: 1px solid #001f3f;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color: blue;
}
.sign-up-link {
  margin-top: 20px;
  text-align: center;
}

.sign-up-link a {
  color: #00ff00;
  text-decoration: none;
  font-size: 16px;
}

.sign-up-link a:hover {
  text-decoration: underline;
}
.play_button {
  text-decoration: none;
}
.form-2 input[id= "username" ],.form-2 input[id= "password" ],.form-2 input[id= "email" ]{
    margin-bottom: 50px;
}
